@mixin Responsive($canvas) {
  @media (max-width: $canvas) {
    @content;
  }
}
.movies-page {
  padding: 2em 0em;
  .title{
    padding-bottom: 1em;
    font-size: 1.2rem;
    a{
      font-size: .8rem;
      color: #eeb500;
    }
  }
  .movies{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    @include Responsive("480px") {
      margin-left: 0px;
    }
    .movie {
      border-radius: 10px;
      @include Responsive("480px") {
        height: 500px;
        margin-left: 0;
      }
      overflow: hidden;
      height: 170px;
      margin-left: 20px;
      margin-bottom: 20px;
      flex: 0 0 calc(10% - 20px);
      @include Responsive("1400px") {
        flex: 0 0 calc(20% - 20px);
      }
      @include Responsive("900px") {
        flex: 0 0 calc(33.333% - 20px);
      }
      @include Responsive("480px") {
        flex: 0 0 100%;
      }
      img {
        height: auto;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
