@mixin Responsive($canvas) {
  @media (max-width: $canvas) {
    @content;
  }
}
.movies-page {
  padding: 2em 0em;
  .title{
    padding-bottom: 1em;
    font-size: 1.2rem;
    a{
      font-size: .8rem;
      color: #eeb500;
    }
  }
  .movies{
    padding: 0 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    gap: 20px;
    .movie {
      position: relative;
      &:hover > .button-groups{
        display: flex;
      }
      .button-groups{
        position: absolute;
        padding: 0 1em;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.15);
        display: none;
        transform: 0.15s;
        a{
          button{
            width: 100%;
            border: none;
            height: 60px;
            margin: 10px;
            border-radius: 30px;
            background-color: #131720;
            color: white;
            font-weight: 500;
          }
          }
        .boring-link{
          border: 1px solid #eeb500;
        }
        .more-boring-link{
          background-color: #eeb500;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
