@mixin Responsive($canvas) {
  @media (max-width: $canvas) {
    @content;
  }
}

.movie-detail {
  width: 100%;
  display: flex;
  position: relative;
  @include Responsive("480px") {
    flex-direction: column;
  }
  .poster {
    width: 20%;
    @include Responsive("1000px") {
      width: 50%
    }
    @include Responsive("480px") {
      width: 100%;
    }
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  
  .details {
    @include Responsive("480px") {
      width: 100%;
    }
    padding: 0 1em;
    width:60%;
    .info {
      flex: 1;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      font-family: "Inter", sans-serif;
      span {
        @include Responsive("1440px") {
          margin-block: 1em;
        }
        @include Responsive("480px") {
          font-size: 0.8rem;
        }
      }
    }
    h2 {
      @include Responsive("480px") {
        font-size: 1.5rem;
      }
      font-size: 2rem;
      margin: 0;
    }
    p {
      margin-block: 1.5em;
      font-size: 1rem;
      @include Responsive("480px") {
        font-size: 0.8rem;
      }
    }
    
  }
}
